.description {
  margin-bottom: 15px;
  height: 25px;
  border-radius: 5px;
}
.cancelBtn,
.submitBtn {
  height: 25px;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 5px;
  background-color: rgb(14, 7, 7);
  color: var(--main-text-color);
  border: none;
  border-radius: 5px;
}
.cancelBtn,
.submitBtn:hover {
  transform: scaleY(1.1);
}
.todoCreatorForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.btnContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .cancelBtn,
  .submitBtn {
    width: 49%;
  }

  .description {
    height: 100px;
    width: 250px;
    outline: transparent;
  }
}
