.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 150px;
  margin: 10vh auto 0;
}
.capture {
  color: var(--main-text-color);
  text-transform: capitalize;
  padding-bottom: 10px;
}
.email,
.password,
.name,
.age,
.description {
  height: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 3px var(--main-border-color);
  margin-bottom: 2vh;
}

input:focus {
  outline: transparent;
  transform: scale(1.02);
}
.labelCheckPass {
  padding-right: 5px;
  position: relative;
  padding-left: 5px;
  text-transform: capitalize;
  margin-bottom: 2vh;
}
.checkPass {
  position: absolute;
  right: 10px;
}
.submitBtn {
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  height: 20px;
  width: 120px;
  margin-left: auto;
  color: var(--main-text-color);
  font-size: 16px;
  text-transform: capitalize;
  background-color: var(--main-background-color);
  cursor: pointer;
}
.submitBtn:hover {
  box-shadow: 0 0 2px black;
}
.submitBtn:active {
  transform: scale(0.99);
}

.registerLink,
.loginLink {
  text-decoration: none;

  width: 20px;
  border-radius: 5px;
}
.linkBtn {
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  color: var(--main-text-color);
  cursor: pointer;
  font-size: 16px;
}
.linkBtn:hover {
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 600px) {
  .form {
   
  }
}
